.mainbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.formboxmain{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgrey;
    flex-direction: column;
    border-radius: 10px;
    padding: 60px;
    width: 320px;
}
.heading{
    color: red;
}
.formbox{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}
.container{
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: auto;
}

ul{
    margin-left: -60px;
}

