.accordian-item {
    border: 1px solid black;
    width: 20%;
    margin: auto;
}

.accordian-heading {
    background: lightblue;
}

.accordian-button {
    color: blue;
}

.accordian-panel {
    border: 1px solid green;
    color: green;
}
